* {
    
    font-size: 15px;
    color: #444444;
    letter-spacing: -0.5px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
}

body{
    background-image: url('https://www.tpirates.com/img/bg_texture.svg');
    background-color: #333333;
    width: 100%;
    height: 100vh;

}

#wrap {
    background: #f1f2f3;
    position: relative;
    margin: 0 auto;
    min-width: 320px;
    height: 100%;
    max-width: 420px;

}
/* header */
#header {
    position: relative;
    top: 0;
    z-index: 30;
    width: 100%;
    height: 90px;
    background: #fff;
    
}

.header-main{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;

}
.header-main .main-left > a{
    display: flex;
}

.logo{
    width: 42px;
    height: 42px;
    display: block;
    background-image: url('https://www.tpirates.com/img/ci_logo.gif');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin: 4px 0;
}

.company-name{
    display: block;
    background-image: url('https://www.tpirates.com/img/ci_company_name.svg?v=2');
    background-repeat: no-repeat;
    background-size: 131px 20px;
    width: 131px;
    height: 20px;
    margin: 15px 0 15px 10px;
}

.header-main .main-right{
    padding-right: 5px;
    font-size: 15px;
}

.header #header-nav{
    width: 100%;
    height: 42px;
    background-color: #1C79BC;
}

.header #header-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 42px;
    padding: 0 5px;
    
}
#header-nav ul li a{
    color: #fff;
    font-weight: 500;

}
#header-nav ul li a.header-nav.active{
    color: yellow;
    
}
/* container */
.container{
    width: 100%;
    height: auto;
}
.container .content .head{
    width: 100%;
    height: 119px;
}

.container .content .head .rolling-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    background-color: #313841;
}

.container .content .head .rolling-banner ul li{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    
}
.container .content .head .rolling-banner ul li a{
    width: 377px;
    color: #fff;
    height: 42px;
    line-height: 42px;
    display: block;
}
.container .content .head .rolling-banner ul li a span{
    color: #B8E986
    
}