* {
    
    font-size: 15px;
    color: #444444;
    letter-spacing: -0.5px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Noto Sans KR','맑은 고딕','Arial','Gulim';
}

body{
    background-image: url('https://www.tpirates.com/img/bg_texture.svg');
    background-color: #333333;
    width: 100%;
    height: 100vh;
    position: relative;

}

#wrap {
    background: #f1f2f3;
    position: relative;
    margin: 0 auto;
    min-width: 320px;
    height: 100%;
    max-width: 420px;

}
body .store-detail-link{
    position: fixed;
    top: 0;
    left: 0;
}
body .store-detail-link a{
    width: 20px;
    height: 150px;
    background-color: #1C79BC;
    display: block;
    box-sizing: content-box;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
}
.fixed{
  
}
/* header */
#header {
    position: relative;
    top: 0;
    z-index: 2001;
    width: 100%;
    height: 90px;
    background: #fff;
    
}

.header-main{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;

}
.header-main .main-left > a{
    display: flex;
}

.logo{
    width: 42px;
    height: 42px;
    display: block;
    background-image: url('https://www.tpirates.com/img/ci_logo.gif');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin: 4px 0;
}

.company-name{
    display: block;
    background-image: url('https://www.tpirates.com/img/ci_company_name.svg?v=2');
    background-repeat: no-repeat;
    background-size: 131px 20px;
    width: 131px;
    height: 20px;
    margin: 15px 0 15px 10px;
}

.header-main .main-right{
    padding-right: 5px;
    font-size: 15px;
}

.header #header-nav{
    width: 100%;
    height: 42px;
    background-color: #1C79BC;
}

.header #header-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 42px;
    padding: 0 5px;
    
}
#header-nav ul li a{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 0.93;

}
#header-nav ul li a.header-nav.active{
    color: yellow;
    
}
#header-nav.fixed{
    position: fixed;
    top: 0;
    min-width: 320px;
    width: 100%;
    max-width: 420px;
    z-index: 2001;
}
/* container */
#container{
    width: 420px;
}
#container > div > div.content > .head{
    position: relative;
    width: 420px;
    height: 42px;
}
#widget{
    width: 420px;
    height: 42px;
    background-color:rgb(49, 56, 65);
}
#widget > ul{
    position: relative;
    height: 42px;
    z-index: 1;
   
}
#widget > ul.full{
    
    z-index: 2001;
    animation: none;
}
#widget > ul > li{
    display: block;
    width: 420px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background-color:rgb(49, 56, 65);
  
   
}
#widget.fixed{
        position: fixed;
        top: 42px;
        min-width: 320px;
        width: 100%;
        max-width: 420px;
        z-index: 1000; 
}
#list-hide > li{
    font-size: 14px;
    font-weight: 500;
}
#list-hide > li a{
    color: #fff;
    width: 380px;
    
}

#list-hide > li > a > .price-color{
    color:#B8E986;
}
.container .content .head .rolling-banner .btn-arrow.btn-down{
    width: 33px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 3px;
    background-position: 50% 50%;
    z-index: 2001;
    display: block;
    background-image: url('https://www.tpirates.com/img/bul_arrow_down_white.svg');
    background-repeat: no-repeat;
    background-size: auto;
}
.container .content .head .rolling-banner .btn-arrow.btn-up{
    background-image: url('https://www.tpirates.com/img/bul_arrow_up_white.svg');
    background-repeat: no-repeat;
    background-size: auto;
    width: 33px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 3px;
    background-position: 50% 50%;
    z-index: 2001;
    display: block;
}
#list-hide{

    animation-name: banner;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-direction: normal;
    animation-delay: 500ms;
}

@keyframes banner{
    from{
        bottom: 0;
    }
    to{
        bottom: 42px;
    }
}

/* filter */
#search-filter{
    z-index: 10;
    position: relative;
    width: 420px;
    height: 36px;
    background-color: #fff;
    box-sizing: border-box;

}
#search-filter.fixed{
    position: fixed;
    top: 85px;
    min-width: 320px;
    width: 420px;
    max-width: 420px;
    z-index: 1000;
    box-sizing: border-box;
}
#search-filter .filter-area{
    height: 34px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 34px;
    

}
#search-filter .filter-area > div{
    
    width: 33.33333333%;
    background-color:#fff;
    border-bottom: 1px solid rgb(204,204,204);

}

#search-filter > div > div:nth-child(2){
    border-right: 1px solid rgb(204,204,204);
    border-left: 1px solid rgb(204,204,204);;
}
#search-filter .filter-area > div > span{
    font-size: 14px;
    
    color:rgb(28, 121, 188);

}
/* search */
.search{
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    padding: 5px 15px 7px;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #fff;
    color:rgb(187, 187, 187);
    border-bottom: 1px solid #cccccc;
    z-index: 10;
   
}
#container > div > div.search.fixed{
    position: fixed;
    top: 121px;
    min-width: 320px;
    width: 100%;
    max-width: 420px;
    z-index: 1000;
}
.search input{
    padding-left: 10px;
    border: none;
    border-radius: 4px;
    width: 388px;
    height: 28px;
    background-color:rgb(239, 242, 244);
    outline: none;
    font-size: 14px;
  
}
.search input::placeholder{
    color:rgb(187, 187, 187);
    
}
.search button{
    border: none;
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;
    color:rgb(187, 187, 187);
    outline: none;
    font-size: 14px;
  
}
/* main */
.main{
    background-color: rgb(225, 230, 234);
    height: auto;
    z-index:5;
}

.main .main-title{
    padding-top: 20px;
}

.main .main-title h3{
    font-size: 14px;
    line-height: 1.4285714286;
    display: inline-block;
    width: 420px;
    color: #1C79BC;
    letter-spacing: -0.5px;
    font-weight: 500;
    padding: 0 20px 10px;
}


.main .card-wrap{
    box-shadow:0 1px 0 0 rgba(204,204,204,0.50);
    margin: 0 15px 10px 15px;
}

.main .card-wrap .card-top{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
  
}

.main .card-wrap .card-top .top-left h2{
    font-size: 14px;
    line-height: 1.4285714286;
    color: #444444;
    letter-spacing: -0.5px;
    font-weight: 500;
}

.main .card-wrap .card-top .top-left h2>span{
    font-size: 13px;
    line-height: 1.04;
    color: #444444;
    letter-spacing: -0.5px;
    margin-left: 5px;
}
.main .card-wrap .card-top .top-left p{
    margin-top: 7px;
    color: #777777;
    font-size: 13px;
    line-height: 1.04;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    display: block;
    overflow: hidden;
}

.main .card-wrap .card-top .top-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main .card-wrap .card-top strong{
    display: block;
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.04;
    color: #F5A623;
}
.main .card-wrap .card-top span{
    color: #1C79BC;
    font-size: 13px;
    line-height: 1.04;
    font-weight: 500;
}
.main .card-wrap .card-bottom{
    position: relative;
    width: 388px;
    height: 150px;
    overflow: hidden;
}
.main .card-wrap .card-bottom .thumbnail{
    position: relative;
    min-width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
}
.main .card-wrap .card-bottom .thumbnail img{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    

}
.main .card-wrap .card-bottom .thumbnail::after{
    content: '오늘시세';
    width: 54px;
    height: 23px;
    background-color: #80DB35;
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    border-radius: 3px;
}
.main .card-wrap .card-bottom .thumbnail::before{
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5);
    background-image: url("https://www.tpirates.com/img/bul_favorite.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;

}

.main .card-wrap .card-bottom .today-price{
    width: 54px;
    padding: 0 6px;
    bottom: 15px;
    left: 15px;
    position: absolute;
}
/* 드랍다운 */
#container > div > div.container{
    width: 420px;
    height: auto;
    position: relative;
}

.location-body{
    width: 420px;
    height: 10000ox;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    display: none;
}

.location-body.active{
    width: 420px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
}
#location-body > div{
    
    top: 0;
    left: 0;
 width: 33.3333333%;
 height: 34px;
 background-color: rgb(255, 255, 255);
 line-height: 34px;

 z-index: 9999;
 

}
#location-body > div>span{font-size:14px; color:rgb(119, 119, 119);}
#location-body .index1,.index2,.index3{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index4,.index5,.index6{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index7,.index8,.index9{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index10,.index11,.index12{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index13,.index14,.index15{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index16,.index17,.index18{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index19,.index20,.index21{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index22,.index23,.index24{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index25,.index26,.index27{border-bottom:1px solid rgb(204, 204, 204);}
#location-body .index2,.index5,.index8,.index11,.index14,.index17,.index20,.index23,.index26{
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
}
#location-body.fixed{
    position: fixed;
    top: 85px;
    min-width: 320px;
    width: 420px;
    max-width: 420px;
    z-index: 1900;
    box-sizing: border-box;
}

/* dropdown product */
.product-body{
    width: 420px;
   
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    display: none;
}

.product-body.active{
    width: 420px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    
}
#product-body > div{

    top: 0;
    left: 0;
 width: 33.3333333%;
 height: 34px;
 background-color: rgb(255, 255, 255);
 line-height: 34px;
 z-index: 1900;
}
#product-body.fixed{
    position: fixed;
    top: 130px;
    min-width: 320px;
    width: 420px;
    max-width: 420px;
    z-index: 1900;
    box-sizing: border-box;
}
#product-body > div>span{font-size:14px; color:rgb(119, 119, 119);}
#product-body .index1,.index2,.index3{border-bottom:1px solid rgb(204, 204, 204);}
#product-body .index4,.index5,.index6{border-bottom:1px solid rgb(204, 204, 204);}
#product-body .index7,.index8,.index9{border-bottom:1px solid rgb(204, 204, 204);}
#product-body .index10,.index11,.index12{border-bottom:1px solid rgb(204, 204, 204);}
#product-body .index13,.index14,.index15{border-bottom:1px solid rgb(204, 204, 204);}

#product-body .index2,.index5,.index8,.index11,.index14,.index17,.index20,.index23,.index26{
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
}